:root {
    ---blue: #5C8C75;
    ---green: #799207;
    ---gray: #595959;
    --white: #fff;
}

body {
    background-color: var(---blue);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Header Styling Start */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(---green);
    align-items: center;
    position: relative;
}

header h1 {
    font-weight: normal;
    font-size: 45px;
    margin: 20px;
    font-family: 'Sacramento', cursive;
}

header a {
    text-decoration: none;
    color: var(---white);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    text-decoration: none;
}

header nav ul li {
    text-decoration:none;
    list-style: none;
}

header nav ul li a {
    padding: 20px;
    font-size: 20px;
}

/* Hero Styling Start */
.hero {
    display: flex;
    width: 100%;
}

.hero-bg {
    background-image: url("../images/hero-bg.jpg");
    height: 650px;
    background-size: cover;
    background-position: 100%;
    width: 100%;
}

.hero-bg p {
    display: flex;
    justify-content: flex-end;
    color: var(---gray);
    font-size: 50px;
    font-family: 'Sacramento', cursive;
}

/* About Me Styling */
.about {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    padding: 10px;
}
.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 0 10px;
}

.about p {
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
}

.secondary-header {
    font-size: 40px;
    padding: 0 40px;
    color: white;
    font-weight: normal;
}