:root {
    ---blue: #5C8C75;
    ---green: #799207;
    ---gray: #595959;
    --white: #fff;
}

a {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(---blue);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header Styling Start */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(---green);
    align-items: center;
    position: relative;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    margin: 30px;
    font-family: 'Sacramento', cursive;
}

header h1 a {
    text-decoration: none;
    color: var(---white);
}

header h1 a:hover {
    border: 1px solid var(---gray);
    border-radius: 10px;
    padding: 5px;
    background-image: url(../images/daisy-hover-img.jpg);
    color: var(---gray);
    box-shadow: 10px 10px 9px 0 rgba(0,0,0,0.75);
}

header nav ul,
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    list-style: none;
}

header nav ul li a,
footer ul li a {
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: var(---white);
}

header nav ul li a:hover,
footer ul li a:hover {
    border: 1px solid var(---gray);
    border-radius: 10px;
    padding: 10px;
    background-image: url(../images/daisy-hover-img.jpg);
    color: var(---gray);
    box-shadow: 10px 10px 9px 0 rgba(0,0,0,0.75);
}

/* Start Footer Styling */
    footer {
        background-color: var(---gray);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    footer h3 {
        font-size: 40px;
        display: inline;
        padding: 0 20px;
    }

    footer ul li {
        padding: 0 15px;
        font-size: 25px;
    }    


/* Hero Styling Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 650px;
    background-size: cover;
    background-position: top;
    width: 100%;
}

.hero-quote {
    display: flex;
    width: 100%;
    height: 650px;
}

.hero-quote p {
    color: var(---gray);
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end ;
    flex: 1;
    padding: 0 30px;
}

/* About Me Styling */
.about {
    display: flex;
    justify-content: space-between;
}

.about-me-container {
    display: flex;
    padding: 0 50px;
}

.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 20px;
}

.about p {
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
    line-height: 1.5;
    align-self: center;
    flex-wrap: wrap;
}
/* End About Me Section Styling */

.secondary-header {
    font-size: 40px;
    color: white;
    font-weight: normal;
    border-right: 3px solid var(---gray);
    padding: 60px;
    min-width: 100px;
}

/* Portfolio Section Style Start */
.portfolio {
    background-color: var(---green);
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 20px 40px;
    flex: 1;
}

.cards:first-child {
    flex: 3 0 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards a {
    text-decoration: none;
    color: var(---gray);
}

.cards a h3 {
    position: relative;
    left: 2%;
    bottom: 30%;
    max-width: fit-content;
}

.cards h3 {
    font-weight: normal;
    font-size: 20px;
    background-color: var(---gray);
    text-decoration: none;
    padding: 15px;
    background-image: url(../images/daisy-hover-img.jpg);
    border-radius: 10px;
    z-index: 9999;
    border: 1px solid var(---gray);
}

.cards img{
    object-fit: contain;
    border-radius: 10px;
    border: 5px solid var(---gray);
    padding: 10px;
    flex-wrap: wrap;
    width: auto;
}

.cards img:hover {
    color: var(---gray);
    opacity: 0.8;
}