:root {
    ---blue: #5C8C75;
    ---green: #799207;
    ---gray: #595959;
    --white: #fff;
}

body {
    background-color: var(---blue);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header Styling Start */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(---green);
    align-items: center;
    position: relative;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    margin: 30px;
    font-family: 'Sacramento', cursive;
}

header h1 a {
    text-decoration: none;
    color: var(---white);
}

header h1 a:hover {
    border: 1px solid var(---gray);
    border-radius: 10px;
    padding: 5px;
    background-image: url(../images/daisy-hover-img.jpg);
    color: var(---gray);
    box-shadow: 10px 10px 9px 0 rgba(0,0,0,0.75);
}

header nav ul,
footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    list-style: none;
}

header nav ul li a,
footer div ul li a {
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: var(---white);
}

header nav ul li a:hover,
footer div ul li a:hover {
        border: 1px solid var(---gray);
        border-radius: 10px;
        padding: 10px;
        background-image: url(../images/daisy-hover-img.jpg);
        color: var(---gray);
        box-shadow: 10px 10px 9px 0 rgba(0,0,0,0.75);
    }


/* Hero Styling Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 650px;
    background-size: cover;
    background-position: 100%;
    width: auto;
}

.hero-quote {
    display: flex;
    width: 100%;
    height: 650px;
}

.hero-quote p {
    color: var(---gray);
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end ;
    flex: 1;
    padding: 0 30px;
}

/* About Me Styling */
.about {
    display: flex;
    justify-content: space-between;
}

.about-me-container {
    display: flex;
    padding: 0 50px;
}

.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 20px;
}

.about p {
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
    line-height: 1.5;
    align-self: center;
    flex-wrap: wrap;
}
/* End About Me Section Styling */

.secondary-header {
    font-size: 40px;
    color: white;
    font-weight: normal;
    border-right: 3px solid var(---gray);
    padding: 60px;
}

/* Portfolio Section Style Start */
.portfolio {
    background-color: var(---green);
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 20px 40px;
    flex: 1;
}

.cards {
    flex: 0 0 70%;
    display: flex;
    justify-content: space-between;
}
.card-img {
    max-width: 100%;
}

/* Start Footer Styling */

footer {
    background-color: var(---gray);
}

footer h3 {
    font-size: 40px;
    display: inline;
    padding: 0 20px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}